/**
* ==============================================
* Dot Flashing
* ==============================================
*/
.dot_flashing {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot_flashing::before, .dot_flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot_flashing::before {
  left: -15px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot_flashing::after {
  left: 15px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #9880ff;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}